<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcwk.ehr.mapper.QuizMapper">

 <select id="selectTodaysQuizAndUserAnswers" parameterType="java.lang.String" resultType="com.pcwk.ehr.quiz.domain.QuizDTO">
        <![CDATA[
        SELECT
            Q.QS_CODE        AS qsCode,
            Q.QQ_CODE        AS qqCode,
            Q.ARTICLE_CODE   AS articleCode,
            Q.QUESTION_NO    AS questionNo,
            Q.QUESTION,
            Q.ANSWER,
            Q.EXPLANATION,
            R.USER_ANSWER    AS userAnswer,
            R.SCORE          AS score,
            R.SOLVED_DT      AS solvedDt
        FROM
            QUIZ_QUESTIONS Q
        JOIN
            QUIZ_RESULT R ON Q.QQ_CODE = R.QQ_CODE
        WHERE
            R.USER_ID = #{userId}
        AND
            TRUNC(Q.REG_DT) = TRUNC(SYSDATE)
        ORDER BY
            Q.QUESTION_NO ASC
        ]]>
    </select>

    <select id="selectQuizList" parameterType="com.pcwk.ehr.quiz.domain.QuizDTO" resultType="com.pcwk.ehr.quiz.domain.QuizDTO">
        <![CDATA[
        SELECT
            QS_CODE as qsCode, 
            QQ_CODE as qqCode, 
            ARTICLE_CODE as articleCode, 
            QUESTION_NO as questionNo, 
            QUESTION, 
            ANSWER, 
            EXPLANATION, 
            REG_DT as regDt
        FROM (
            SELECT
                ROWNUM AS RNUM, A.*
            FROM (
                SELECT * FROM QUIZ_QUESTIONS ORDER BY QQ_CODE DESC
            ) A
            WHERE ROWNUM <= #{pageEnd}
        )
        WHERE RNUM >= #{pageStart}
        ]]>
    </select>
    
    <select id="getTotalQuizCount" resultType="int">
        SELECT COUNT(QQ_CODE) FROM QUIZ_QUESTIONS
    </select>

    <insert id="insertQuizResult" parameterType="com.pcwk.ehr.quiz.domain.QuizDTO">
        INSERT INTO QUIZ_RESULT (
           QR_CODE, USER_ID, QQ_CODE, USER_ANSWER, SCORE, SOLVED_DT
       ) VALUES (
           QR_SEQ.NEXTVAL,
           #{userId, jdbcType=VARCHAR},
           #{qqCode, jdbcType=NUMERIC},
           #{userAnswer, jdbcType=VARCHAR},
           0,
           SYSDATE
       )
    </insert>

    <update id="updateScoreIfCorrect" parameterType="com.pcwk.ehr.quiz.domain.QuizDTO">
        UPDATE
            QUIZ_RESULT R
        SET
            R.SCORE = 12.5
        WHERE
            R.USER_ID = #{userId}
            AND R.QQ_CODE = #{qqCode}
            AND R.USER_ANSWER = (
                SELECT Q.ANSWER FROM QUIZ_QUESTIONS Q WHERE Q.QQ_CODE = R.QQ_CODE
            )
    </update>
    
    <select id="selectUserRankingTop10" resultType="com.pcwk.ehr.quiz.domain.RankingDTO">
         <![CDATA[
		   SELECT
		      R.USER_ID AS userId,
		      M.NICK_NM AS nickNm,
		      R.TOTAL_SCORE AS totalScore,
		      R.USER_RANK AS userRank
		   FROM (
		      SELECT
		         USER_ID,
		         SUM(SCORE) AS TOTAL_SCORE,
		         RANK() OVER (ORDER BY SUM(SCORE) DESC) AS USER_RANK
		      FROM
		         QUIZ_RESULT
		      WHERE
		         TO_CHAR(SOLVED_DT, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
		      GROUP BY
		         USER_ID
		      HAVING
		         SUM(SCORE) > 0
		   ) R
		   JOIN
		      MEMBER M ON R.USER_ID = M.USER_ID
		   WHERE
		      R.USER_RANK <= 10
		      ]]>
	</select>
    
    <select id="selectQuizResult" parameterType="com.pcwk.ehr.quiz.domain.QuizDTO" resultType="com.pcwk.ehr.quiz.domain.QuizDTO">
       SELECT
           QR_CODE as qrCode,
           USER_ID as userId,
           QQ_CODE as qqCode,
           USER_ANSWER as userAnswer,
           SCORE as score,
           SOLVED_DT as solvedDt
       FROM
           QUIZ_RESULT
       WHERE
           USER_ID = #{userId} AND QQ_CODE = #{qqCode}
   </select>
   
   <select id="selectTodaysQuiz" resultType="com.pcwk.ehr.quiz.domain.QuizDTO">
	    SELECT
	        Q.QS_CODE       AS QSCODE,
	        Q.QQ_CODE       AS QQCODE,
	        Q.ARTICLE_CODE  AS ARTICLECODE,
	        Q.QUESTION_NO   AS QUESTIONNO,
	        Q.QUESTION,
	        Q.ANSWER,
	        Q.EXPLANATION
	    FROM
	        QUIZ_QUESTIONS Q
	    JOIN
	        QUIZ_SETS S ON Q.QS_CODE = S.QS_CODE
	    WHERE
	        TRUNC(S.REG_DT) = TRUNC(SYSDATE)
	    ORDER BY
	        Q.QUESTION_NO ASC
	</select>
	
	<select id="checkIfUserPlayedToday" parameterType="java.lang.String" resultType="int">
	    SELECT
	        COUNT(R.QR_CODE)
	    FROM
	        QUIZ_RESULT R
	    JOIN
	        QUIZ_QUESTIONS Q ON R.QQ_CODE = Q.QQ_CODE
	    JOIN
	        QUIZ_SETS S ON Q.QS_CODE = S.QS_CODE
	    WHERE
	        R.USER_ID = #{USERID}
	        AND TRUNC(S.REG_DT) = TRUNC(SYSDATE)
	</select>
   
    <delete id="deleteAllQuizQuestions">
       DELETE FROM QUIZ_QUESTIONS
   </delete>
   
   <delete id="deleteAllQuizSets">
       DELETE FROM QUIZ_SETS
   </delete>
   
   <delete id="deleteAllQuizResult" parameterType="com.pcwk.ehr.quiz.domain.QuizDTO">
       DELETE FROM QUIZ_RESULT WHERE USER_ID = #{userId}
   </delete>
   
   <insert id="insertQuizQuestion" parameterType="com.pcwk.ehr.quiz.domain.QuizDTO">
       INSERT INTO QUIZ_QUESTIONS (
           QS_CODE, QQ_CODE, ARTICLE_CODE, QUESTION_NO, QUESTION, ANSWER, EXPLANATION, REG_DT
       ) VALUES (
           #{qsCode, jdbcType=NUMERIC}, 
           #{qqCode, jdbcType=NUMERIC}, 
           #{articleCode, jdbcType=NUMERIC}, 
           #{questionNo, jdbcType=NUMERIC}, 
           #{question, jdbcType=VARCHAR}, 
           #{answer, jdbcType=VARCHAR},
           #{explanation, jdbcType=VARCHAR},
           SYSDATE
       )
   </insert>
   
   <insert id="insertQuizSet" parameterType="com.pcwk.ehr.quiz.domain.QuizDTO">
       INSERT INTO QUIZ_SETS (QS_CODE) VALUES (#{qsCode, jdbcType=NUMERIC})
   </insert>

</mapper>