<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="logImpl" value="LOG4J2"/>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <typeAliases>
    <typeAlias alias="BookmarkDTO" type="com.pcwk.ehr.bookmark.domain.BookmarkDTO"/>
    <typeAlias alias="UserLogDTO" type="com.pcwk.ehr.userLog.domain.UserLogDTO"/>
  </typeAliases>
 
</configuration> 