<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.ReportMapper">

    <!-- 신고 저장 -->
  <insert id="doSave" parameterType="com.pcwk.ehr.report.domain.ReportDTO">
    <selectKey keyProperty="reportCode" resultType="int" order="BEFORE">
      SELECT REP_SEQ.NEXTVAL FROM dual
    </selectKey>
    INSERT INTO REPORT (
      REPORT_CODE,
      CHAT_CODE,
      USER_ID,
      CT_ID,
      REASON,
      STATUS,
      REG_DT,
      MOD_DT
    ) VALUES (
      #{reportCode},
      #{chatCode},
      #{userId,jdbcType=VARCHAR},
      #{ctId,jdbcType=VARCHAR},    
      #{reason,jdbcType=VARCHAR},   
      #{status,jdbcType=VARCHAR},   
      SYSDATE,
      SYSDATE
    )
  </insert>

  <!--단건 조회 -->
  <select id="doSelectOne"
          parameterType="com.pcwk.ehr.report.domain.ReportDTO"
          resultType="com.pcwk.ehr.report.domain.ReportDTO">
    SELECT
      REPORT_CODE,
      CHAT_CODE,
      USER_ID,
      CT_ID,
      REASON,
      STATUS,
      REG_DT,
      MOD_DT
    FROM REPORT
    WHERE REPORT_CODE = #{reportCode}
  </select>


  <!-- 신고 목록 조회 + 페이징 (ReportSearchDTO 사용) -->
  <!-- 목록 + 페이징: Stopkey(ROWNUM) 패턴 -->
  <select id="doRetrieve"
          parameterType="com.pcwk.ehr.report.domain.ReportSearchDTO"
          resultType="com.pcwk.ehr.report.domain.ReportDTO">

    <!-- 대소문자 무시 전방일치 바인딩: 반드시 &amp;&amp; 사용 -->
    <bind name="kw"
          value="searchWord != null &amp;&amp; searchWord != '' ? searchWord.toUpperCase() + '%' : null"/>

    SELECT *
    FROM (
      SELECT ROWNUM AS no, x.*
      FROM (
        SELECT
          R.REPORT_CODE,
          R.CHAT_CODE,
          R.USER_ID,
          R.CT_ID,
          R.REASON,
          R.STATUS,
          R.REG_DT,
          R.MOD_DT
        FROM REPORT R
        <where>
          <!-- free-text 전방일치 : USER_ID / CT_ID -->
          <if test="kw != null">
            AND ( UPPER(R.USER_ID) LIKE #{kw}
               OR UPPER(R.CT_ID)   LIKE #{kw} )
          </if>

          <!-- 상태(문자), 공백이면 무시 -->
          <if test="status != null and status != ''">
            AND R.STATUS = #{status}
          </if>

          <!-- 채팅코드(숫자), 0 또는 null이면 무시 -->
          <if test="chatCode != null and chatCode != 0">
            AND R.CHAT_CODE = #{chatCode}
          </if>

          <!-- 사유(문자), 공백이면 무시 -->
          <if test="reason != null and reason != ''">
            AND R.REASON = #{reason}
          </if>

          <!-- 정확 일치 검색 필드 -->
          <if test="userId != null and userId != ''">
            AND R.USER_ID = #{userId}
          </if>
          <if test="ctId != null and ctId != ''">
            AND R.CT_ID = #{ctId}
          </if>
        </where>
        ORDER BY R.REG_DT DESC, R.REPORT_CODE DESC
      ) x
      WHERE ROWNUM &lt;= (#{pageNo} * #{pageSize})
    )
    WHERE no &gt; ((#{pageNo} - 1) * #{pageSize})
  </select>

  
  
    <!-- 
    UPDATE: 신고 정보 수정
    - 필요한 컬럼만 동적으로 SET 절에 포함시킴
    - reportCode(PK)로 대상 행 지정
    - 예: 상태, 사유, 대상ID 등을 수정 가능
    -->
  <update id="doUpdate" parameterType="com.pcwk.ehr.report.domain.ReportDTO">
    UPDATE REPORT
       <set>
         <if test="chatCode != null">CHAT_CODE = #{chatCode},</if>
         <if test="userId  != null and userId != ''">USER_ID = #{userId},</if>
         <if test="ctId    != null and ctId   != ''">CT_ID   = #{ctId},</if>
         <if test="reason  != null and reason != ''">REASON = #{reason},</if>
         <if test="status  != null and status != ''">STATUS = #{status},</if>
         MOD_DT = SYSDATE
       </set>
     WHERE REPORT_CODE = #{reportCode}
  </update>
  

  <!-- 상태만 변경(관리자) -->
  <update id="doUpdateStatus" parameterType="com.pcwk.ehr.report.domain.ReportDTO">
    UPDATE REPORT
       SET STATUS = #{status},
           MOD_DT = SYSDATE
     WHERE REPORT_CODE = #{reportCode}
  </update>

  <delete id="doDelete" parameterType="com.pcwk.ehr.report.domain.ReportDTO">
    DELETE FROM REPORT WHERE REPORT_CODE = #{reportCode}
  </delete>
  
    <!-- 테스트 초기화 -->
  <delete id="deleteAll">
  	DELETE FROM REPORT
  </delete>
  
  <select id="getCount" resultType="int">
    SELECT COUNT(*) FROM REPORT
  </select>

  
</mapper>
